*{
    background-color: #27ccc6;
    text-align: center;
}
#skor{
    font-size: 40px;
    margin-top: 200px;
}
#hasil{
    font-size: 70px;
}

#kembali:hover{
    color: black;
    background-color: #27ccc6;
    border: 1px solid white;
}
    
#kembali{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:black;
    background-color:white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 15px;  
    font-weight: 800; 
    font-size: 20px;
    padding: 10px 60px;
}